@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.container {
  text-align: center;
  padding: 2rem;
  font-family: 'Roboto', sans-serif;
}

.logo {
  width: 15rem;
  margin: 0 auto 2rem;
}

.form-group {
  margin-bottom: 2rem;
}

.form-control {
  width: 20rem;
  margin: 0 auto;
  padding: 1rem;
  font-size: 1rem;
  box-sizing: border-box;
}

.btn {
  padding: 1rem 2rem;
  font-size: 1rem;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

.weather-cards {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.weather-card {
  border: 0.1rem solid #ccc;
  padding: 1.8rem;
  width: 20rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  text-align: left;
  box-sizing: border-box;
}

.date {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 0;
}

.weather-detail {
  font-size: 1rem;
}

@media (max-width: 750px) {
  .weather-cards {
    justify-content: center;
  }

  .weather-card {
    width: 100%;
    max-width: 20rem;
  }
}
